<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram 资源导航</title>
    <style>
        table {
            width: 100%;
            max-width: 800px;
            margin: auto;
            border-collapse: collapse;
        }
        td {
            text-align: center;
            padding: 10px;
        }
        img {
            width: 100%;
            max-width: 300px;
            height: auto;
        }
    </style>
</head>
<body>
<h1>Telegram 资源导航</h1>
<table>
    <tr>
        <td>
            <a href="https://t.me/jisou2bot?start=a_1023712789" target="_blank"><img src="https://proxy.duckduckgo.com/iu/?u=https://i.imgur.com/9i69p4C.jpeg" alt="@TG最强搜索机器人"></a><br>
            <a href="https://t.me/jisou2bot?start=a_1023712789" target="_blank">@极搜JiSou</a>
        </td>
        <td>
            <a href="https://t.me/soso?start=a_1023712789" target="_blank"><img src="https://proxy.duckduckgo.com/iu/?u=https://i.imgur.com/SKGPMhC.jpeg" alt="玩偶姐姐"></a><br>
            <a href="https://t.me/soso?start=a_1023712789" target="_blank">@SOSO-搜搜更懂你</a>
        </td>
        <td>
            <a href="https://t.me/jisou2bot?start=a_1023712789" target="_blank"><img src="https://proxy.duckduckgo.com/iu/?u=https://i.imgur.com/W39S4Mc.jpeg" alt="@极搜JiSo"></a><br>
            <a href="https://t.me/jisou2bot?start=a_1023712789" target="_blank">@极搜JiSo</a>
        </td>
    </tr>
</table>
</body>
</html>
